<div style="font-family: Inter; text-decoration: none;" class="container text-white mb-5">
    <div class="row">
        <div class="col">
            <h2 style="font-family: Inter-Bold;" class="my-5">Let's Work Together</h2>
            <a href="https://www.linkedin.com/in/mikeyfennelly/">
                <h5 class="text-white d-inline me-5 opacity-75">Linkedin</h5>
            </a>
            <a href="https://github.com/mikeyfennelly1">
                <h5 class="text-white d-inline me-5 opacity-75">GitHub</h5>
            </a>
        </div>
        <div class="col d-flex flex-row-reverse">
            <div class="my-5">
                <h2>
                    mikeyp.fennelly&#64;gmail.com
                </h2>
            </div>
        </div>
    </div>
</div>