<div class="row my-5">
    <div class="col">
        <h1 class="mt-5">My Portfolio</h1>
        <h5 style="font-family: Inter-Light;" class="me-5 lh-base my-4">The website you are on right now!</h5>
        <h5>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Angular</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Bootstrap</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Figma</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Github Actions</span>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white"  href="https://github.com/mikeyfennelly1/portfolio">
                <img class="d-inline" src="../../../assets/images/githubLogo.png" alt="">
                <h5 style="transition: transform 0.3s;" class="ms-5 d-inline text-decoration-none slideRight">github.com/mikeyfennelly1/portfolio</h5>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a href="">
            <img class="border rounded mw-100" src="../../../assets/images/portfolioThumbnail.png" alt="">
        </a>
    </div>
</div>