<div class="row my-5">
    <div class="col">
        <h1 class="mt-5">Say goodbye to Brittney Griner, unless...
        </h1>
        <h5 style="font-family: Inter-Light;" class="me-5 lh-base my-4">This is a story about the American WNBA star Brittney Griner, who was arrested in early 2022 in Moscow airport. This video covers the suspicions around her arrest, and the high stakes trade needed to return Brittney home.</h5>
        <h5>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe Premiere Pro</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe After Effects</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5"> Photoshop</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Mapbox</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Geolayers 3</span>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white"  href="https://www.youtube.com/watch?v=JocyMZ3gkOc&t=325s">
                <img [ngStyle]="{height:'30px'}" class="d-inline mh-25 " src="../../../assets/images/OOjs_UI_icon_external-link-ltr-invert.svg.png" alt="">
                <h5  class="d-inline text-decoration-none slideRight ms-4">Link to video</h5>
                <br>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a href="https://mikeyfennelly1.github.io/CharlamagneDB/">
            <img src="../../../assets/images/charlemagneDBThumbnail.png" alt="">
        </a>
    </div>
</div>