<div style="padding-top: 200px;" class="row text-white">
    <div class="col">
        <img style="max-height: 800px;" src="../../../../assets/images/bookshelf/thePowerOfHabit.jpg" alt="">
    </div>
    <div class="col d-flex flex-wrap">     
        <div>
            <h2 style="font-style: italic;">The Power of Habit</h2>
            <h4 class="opacity-50">Charles Duhigg</h4>
            <p style="font-size: 1.1rem; font-family: forma-djr-display; font-weight: 100;" class="mt-5">
                The Power of Habit is a book that delves into the importance of building habits, and the science of doing so. It provides a very interesting and actionable detail of how habits are built and maintained. Like any good book, after you read this you look at life with a bit of a different perspective. In this book the new perspective that I gained was the role that habits play in our life, and that to a certain extent we are our habits. This book gives you the information needed to redefine your own habits, and I guess in turn reinvent yourself - provided you employ the techniques and knowhow provided in the book.
                <br>
                <br>
                This is definitely one of my must-read books because the information in it is both applicable and useful to anyone and everyone.
            </p>
        </div>       
            <div class="border align-self-end w-100">
                <app-buy-books linkToBookOnAmazon="{{linkToBookOnAmazon}}" linkToBookOnBookshop="{{linkToBookOnBookshop}}" linkToBookOnBarnesAndNoble="{{linkToBookOnBarnesAndNoble}}"/>
            </div>
    </div>
</div>