<div class="container">
    <div class="row my-5">
        <div class="col">
            <h1 class="mt-5">Liverpool's dark formula to success...</h1>
            <h5 style="font-family: Inter-Light;" class="me-5 lh-base my-4">This video is about Liverpool FC and their alleged use of Salbutamol (often found in inhalers) as an enhancer for their players respiratory performance on the pitch. This video also covers Liverpool's purchase by American owners, who brought with them data analysis that proved transformative in the club's recent years.</h5>
            <h5>
                <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe Premiere Pro</span>
                <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe After Effects</span>
                <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5"> Photoshop</span>
                <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Mapbox</span>
                <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Geolayers 3</span>
            </h5>
            <div class="my-5">
                <a class="text-decoration-none text-white"  target="_blank" href="https://www.youtube.com/watch?v=1fD_B0_BUsE&t=1s">
                    <img [ngStyle]="{height:'30px'}" class="d-inline mh-25 " src="../../../assets/images/youtubeLogo 1 (3).png" alt="">
                    <h5  class="d-inline text-decoration-none linkToVideo ms-4">Link to video</h5>
                    <br>
                </a>
            </div>
        </div>
        <div class="col my-5">
            <a target="_blank" href="https://www.youtube.com/watch?v=1fD_B0_BUsE&t=1s">
                <img src="../../../assets/images/liverpool.png" alt="">
            </a>
        </div>
    </div>
</div>