<div class="row my-5">
    <div class="col mb-5">
        <h1 class="mt-5">Points Lab</h1>
        <h5 style="font-family: Inter-Light;" class="me-5 lh-base my-4">Points Lab is an online learning platform aimed at making the Irish second level education system more accessible to daydreamers. Students get access to video tutorials (in extremely high quality) and exam questions, topic by topic.</h5>
        <h5>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">HTML5</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">SASS</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">JavaScript</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">MongoDB</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Node JS</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">ExpressJS</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Docker</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">GitHub Actions</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe Illustrator</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Figma</span>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white"  href="https://github.com/mikeyfennelly1/points-lab">
                <img class="d-inline" src="../../../assets/images/githubLogo.png" alt="">
                <h5 class="ms-5 d-inline text-decoration-none slideRight">github.com/mikeyfennelly1/points-lab</h5>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a href="https://mikeyfennelly1.github.io/points-lab/">
            <img src="../../../assets/images/pointsLabThumbnail.png" alt="">
        </a>
    </div>
</div>