<div class="row my-5">
    <div style="max-width: 800px;" class="col">
        <a class="text-decoration-none text-primary" href="blog/about-me">
            <h1 id="blog" style="font-family: 'ivymode'" class="mt-5 text-decoration-underline slideRight">About me</h1>
        </a>
        <h5 style="font-family: 'ivymode';" class="text-white lh-base mt-4">In this blog I talk about myself so that you can get to know who I am a bit better.</h5>
        <h6 class="text-white opacity-50 text-sm">Feb 5th, 2024</h6>
        <div class="my-5">
        </div>
    </div>

</div> 