<div class="row my-5 ms-5 ps-5">
    <div style="max-width: 800px;" class="col">
        <a class="text-decoration-none text-primary" href="blog/will-i-go-to-university">
            <h1 style="font-family: Inter-Bold" class="mt-5 text-decoration-underline slideRight">Will I go to University?</h1>
        </a>
        <h5 style="font-family: Inter-Light;" class="text-white lh-base mt-4">In this blog I go through my thoughts about University, my apprehensions, the elements of going to University that I like and my general thoughts on the matter.</h5>
        <h6 class="text-white opacity-50 text-sm">Feb 5th, 2024</h6>
        <div class="my-5">
        </div>
    </div>

</div>