<div>
    <a style="text-decoration: none; color: white;" target="_blank" href={{linkToBookOnAmazon}}>
        <div style=" border: 1px solid white; padding: 10px; display: flex; justify-content: space-between; width: 100%;">
            <div style=" display: inline;">Purchase on Amazon</div>
            <div style="display: inline;"><img style="max-height: 20px;" src="../../../../assets/images/OOjs_UI_icon_external-link-ltr-invert.svg.png" alt=""></div>
        </div>
    </a>
    <a style="text-decoration: none; color: white;" target="_blank" href={{linkToBookOnBookshop}}>
        <div style=" border: 1px solid white; padding: 10px; display: flex; justify-content: space-between; width: 100%;">
            <div style=" display: inline;">Purchase on Bookshop</div>    
            <div style="display: inline;"><img style="max-height: 20px;" src="../../../../assets/images/OOjs_UI_icon_external-link-ltr-invert.svg.png" alt=""></div>
        </div>
    </a>
    <a style="text-decoration: none; color: white;" target="_blank" href={{linkToBookOnBarnesAndNoble}}>
        <div style=" border: 1px solid white; padding: 10px; display: flex; justify-content: space-between; width: 100%;">
            <div style=" display: inline;">Purchase on Barnes and Noble</div>    
            <div style="display: inline;"><img style="max-height: 20px;" src="../../../../assets/images/OOjs_UI_icon_external-link-ltr-invert.svg.png" alt=""></div>
        </div>
    </a>
</div>