<div class="row my-5">
    <div class="col">
        <h1 class="mt-5">CharlemagneDB</h1>
        <h5 style="font-family: Inter-Light;" class="me-5 lh-base my-4">CharlemagneDB is an website for a concept database platform that is AI oriented in its development process to automate many of the reduntant tasks in database configuration for applications.</h5>
        <h5>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">React</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">GSAP</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Tailwind CSS</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Figma</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe XD</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Docker</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Framer Motion</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Firebase</span>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white" target="_blank"  href="https://mikeyfennelly1.github.io/CharlamagneDB/">
                <img [ngStyle]="{height:'30px'}" class="d-inline mh-25 " src="../../../assets/images/OOjs_UI_icon_external-link-ltr-invert.svg.png" alt="">
                <h5  class="d-inline text-decoration-none slideRight ms-4">Link to website</h5>
                <br>
            </a>
        </div>
        <div class="my-5">
            <a target="_blank" class="text-decoration-none text-white" href="https://github.com/mikeyfennelly1/CharlamagneDB">
                <img class="d-inline" src="../../../assets/images/githubLogo.png" alt="">
                <h5 class="d-inline text-decoration-none slideRight ms-3">Source Code</h5>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a target="_blank" href="https://mikeyfennelly1.github.io/CharlamagneDB/">
            <img src="../../../assets/images/charlemagneDBThumbnail.png" alt="">
        </a>
    </div>
</div>src/assets/images/charlemagneDBThumbnail.png