<div style="font-family: Inter; padding-top: 300px;" class="bg-black row text-white">
    <div class="col pe-5">
        <img style="max-height: 800px;"  src="../../../../assets/images/bookshelf/steveJobs.jpg" alt="">
    </div>
    <div class="col ms-5">
        <h2 style="font-family: Inter-Bold;">Steve Jobs</h2>
        <h4 class="opacity-50">Walter Isaacson</h4>
        <p style="font-size: 1.1rem;" class="mt-5 opacity-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ipsam iusto voluptatum quae natus facere maiores sapiente neque itaque quasi nisi eius esse culpa non, sint fuga, dignissimos voluptatibus quos!
        Ea facere, corporis, magnam ad harum quisquam quasi iure modi non, eaque quo suscipit assumenda nulla. Earum adipisci placeat, ullam voluptas praesentium voluptatum, ex fugiat quia autem optio ea ipsam?
        Iusto modi, sapiente provident nesciunt laboriosam cumque beatae rerum vitae vel voluptatibus explicabo. Quibusdam enim et placeat repellat tenetur autem odit mollitia similique porro excepturi, accusantium ad ex eum quasi!
        Veritatis obcaecati praesentium doloremque ducimus omnis aut ea in enim magni, unde eos ad a iusto, voluptatum tempore temporibus ratione deserunt? Aspernatur sit omnis facere dolor assumenda, repellat ut eos.
        Magni, quas rem atque eveniet eum voluptatem, recusandae eius blanditiis aliquid obcaecati possimus sapiente aspernatur assumenda rerum natus, accusantium esse molestiae aut ad cum ratione ipsam sit laudantium. Temporibus, eos!
        Beatae excepturi laborum repudiandae ad quisquam cupiditate optio quod reprehenderit totam sint possimus tempore ex doloribus eum at reiciendis, illum adipisci, quia iste asperiores tempora suscipit saepe minus. Eveniet, totam.
        Modi perferendis, cum natus minus laborum sapiente sint voluptatum facere officiis libero quos praesentium assumenda hic laudantium necessitatibus cumque dignissimos aliquid consequuntur, exercitationem accusamus? Totam, sunt quidem. Dolorum, dolore consequatur?
        Corrupti sunt earum illo reiciendis laudantium nemo incidunt ipsa dolore sit saepe neque porro dignissimos delectus natus, eaque praesentium? Soluta, sed officiis nisi quis pariatur labore eos adipisci maxime libero.</p>
        <div>
            <a style="text-decoration: none; color: white;" target="_blank" href="https://www.amazon.com/Steve-Jobs-Walter-Isaacson/dp/147770146X/ref=sr_1_2?crid=117B0P65U8RVX&dib=eyJ2IjoiMSJ9.k_xqKlDXQ2Nf4zaCq1rU5HQ0Zlzv0936UI5zc06ip0MBaY80MwUFdAMQ--_JeGPzCDUa7Qwc4PPAHwnLUeeKgFnZ9yGdasoHBrcrOT4VB24ORKH2LFi8E2aAtmm6dyWMUcD-8H5udidZ8PZgPvL0VPgW20sHQX30u1ESF9P7AzLZJvKwkSUS3DAMSQu73-VcxOYCTeIGEJix63VEd7IehKhG5FYxfPl1j0-0MXfMX92kynPxCImMoUBN42gk5ar4-gaqOep7iVB-Nf1CGh8yf9Xf03kgrGidPrJjef79JKg.OhQPpeGgt2rjzVeMa4RazD1yDfAF6RqL7G7EBp_iiG4&dib_tag=se&keywords=steve+jobs&qid=1710686857&sprefix=steve+job%2Caps%2C225&sr=8-2">
                <div>Purchase on Amazon</div>
            </a>
            <a style="text-decoration: none; color: white;" target="_blank" href="https://thebookshop.ie/walter-isaacson-steve-jobs-large-paperback/">
                <div>Purchase on Bookshop</div>
            </a>
            <a style="text-decoration: none; color: white;" target="_blank" href="https://www.barnesandnoble.com/w/steve-jobs-walter-isaacson/1104099551;jsessionid=1FA4BD7B298ADEB6B34720648D251AEF.prodny_store01-atgap03?ean=9781982176860">
                <div>Purchase on Barnes and Noble</div>
            </a>
        </div>
    </div>
</div>