<div style="font-family: 'ivymode'; padding-top: 300px;" class="row text-white">
    <div class="col pe-5">
        <img style="max-height: 800px;"  src="../../../../assets/images/bookshelf/steveJobs.png" alt="">
    </div>
    <div class="col ms-5">
        <h2 style="font-family: 'ivymode'; font-style: italic;">Steve Jobs</h2>
        <h4 class="opacity-50">Walter Isaacson</h4>
        <p style="font-size: 1.1rem; font-family: fieldwork-hum; font-weight: 100;" class="mt-5">
            In 2023 my uncle went to California for the 40th aniversary of the original Macintosh. Why is that you ask? Well it turns out that my Uncle Frank Fennelly was an engineer on the original Mac team from 1982 to 1984 (he is in a light brown sweatshirt on the very back right of <a style="color: white;" href="https://hypercritical.co/2014/01/24/images/macintosh-team.jpg" target="_blank">this photo</a>). I had always known this growing up, and it happened to coincide with when I was reading this book that he made his trip to Palo Alto. It was very interesting to read the book and imagine the beginnings of consumer technology, but even cooler to hear stories from Uncle Fran that aren't written about in the book.
            <br>
            <br>
            My Uncle Paul Fennelly also worked at Apple as an engineer at the same time too, and worked on the Apple Lisa team. He too had stories of working at Apple during Silicon Valley's hayday and even dealing with Steve Jobs himself. This book is brilliant to begin with, but the extra untold stories from my uncles made the whole story even better.
        </p>
        <app-buy-books linkToBookOnAmazon="{{linkToBookOnAmazon}}" linkToBookOnBookshop="{{linkToBookOnBookshop}}" linkToBookOnBarnesAndNoble="{{linkToBookOnBarnesAndNoble}}" />
    </div>
</div>