<div class="row my-5">
    <div class="col">
        <h1 class="mt-5">My Portfolio</h1>
        <h5 style="font-family: fieldwork-hum; font-weight: 100
        
        ;" class="me-5 lh-base my-4">The website you are on right now!</h5>
        <h5>
            <a href="https://angular.io/" target="_blank" target="_blank" style="font-family: fieldwork; text-decoration: none;" class="opacity-50 lh-lg me-5">Angular</a>
            <a href="https://getbootstrap.com/" target="_blank" target="_blank" style="font-family: fieldwork; text-decoration: none;" class="opacity-50 lh-lg me-5">Bootstrap</a>
            <a href="https://www.figma.com/" target="_blank" target="_blank" style="font-family: fieldwork; text-decoration: none;" class="opacity-50 lh-lg me-5">Figma</a>
            <a href="https://github.com/features/actions" target="_blank" target="_blank" style="font-family: fieldwork; text-decoration: none;" class="opacity-50 lh-lg me-5">Github Actions</a>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white"  href="/">
                <img [ngStyle]="{height:'30px'}" class="d-inline mh-25 " src="../../../assets/images/OOjs_UI_icon_external-link-ltr-invert.svg.png" alt="">
                <h5 style="font-family: fieldwork-hum; font-weight: 100;" class="d-inline text-decoration-none slideRight ms-4">Link to website</h5>
                <br>
            </a>
        </div>
        <div class="my-5">
            <a target="_blank" class="text-decoration-none text-white"  href="https://github.com/mikeyfennelly1/portfolio">
                <img class="d-inline" src="../../../assets/images/githubLogo.png" alt="">
                <h5 style="font-family: fieldwork-hum; font-weight: 100;" class="d-inline text-decoration-none slideRight ms-3">Source Code</h5>
            </a>
        </div>
        <div class="my-5">
            <a target="_blank" class="text-decoration-none text-white" href="https://youtu.be/xvX29_NZPAQ">
                <img [ngStyle]="{height:'30px'}" class="d-inline" src="../../../../../../assets/images/youtubeLogo 1 (3).png" alt="">
                <h5 style="font-family: fieldwork-hum; font-weight: 100;" class="d-inline text-decoration-none slideRight ms-3">Video on how I made it</h5>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a href="./">
            <img class="border rounded mw-100" src="../../../assets/images/portfolioThumbnail.png" alt="">
        </a>
    </div>
</div>