<div style="font-family: 'ivymode'; padding-top: 200px;" class="row text-white">
    <div class="col pe-5">
        <img src="../../../../assets/images/bookshelf/thinkingFastAndSlow.jpg" alt="">
    </div>
    <div class="col ms-5  d-flex flex-wrap">
        <div>
            <h2 style="font-family: 'ivymode'; font-style: italic;">Thinking, Fast and Slow</h2>
            <h4 class="opacity-50">Daniel Kahneman</h4>
            <p style="font-size: 1.1rem; font-family: fieldwork-hum; font-weight: 100;" class="mt-5">
                This is another very cool and enjoyable book that is about thinking - but more importantly the downfalls of thinking, and trusting your thoughts, and how people often think with heuristics, and never second guess their sanity. This book will surprise you by showing you how pregnable your thinking really is.
            </p>
        </div>
        <div class="border align-self-end w-100">
            <app-buy-books linkToBookOnAmazon="{{linkToBookOnAmazon}}" linkToBookOnBookshop="{{linkToBookOnBookshop}}" linkToBookOnBarnesAndNoble="{{linkToBookOnBarnesAndNoble}}"/>
        </div>
    </div>
</div>