<div style="padding-top: 200px;" class="row text-white">
    <div class="col">
        <img style="max-height: 800px;"  src="../../../../assets/images/bookshelf/beyondGoodAndEvil.jpg" alt="">
    </div>
    <div class="col d-flex flex-wrap">
        <div>    
            <h2 style="font-style: italic;">Beyond Good and Evil</h2>
            <h4 class="opacity-50">Friedrich Nietzsche</h4>
            <p style="font-size: 1.1rem; font-family: forma-djr-display; font-weight: 100;" class="mt-5">
                When I was 18 I started getting into philosophy, and more particularly reading about German philosophers such as Nietzsche, Hegel and Schopenhauer. While browsing on YouTube I would listen to lectures and videos about philosophy and enjoyed the depth of but also the courage of thought of these philosophers. 
                <br>
                <br>
                Although I'm no philosopher myself, I have read the guts of Beyond Good and Evil by Nietzsche, and have to say that it is definitely the most unique book that I have ever opened. It is one of those books that you have to read for yourself, and with Beyond Good and Evil, you will find yourself reading, and rereading over and over again. I once heard somewhere that 'every sentence in Beyond Good and Evil is like a bomb' - and this is the closest description that I have seen to the experience of reading the pages of this book. It is a critique of 1800s western culture, and is an attack on "dogma". I'm going to leave my description at that because this is one of those books you just have to read for yourself.
            </p>
        </div>
        <div class="border align-self-end w-100">
            <app-buy-books linkToBookOnAmazon="{{linkToBookOnAmazon}}" linkToBookOnBookshop="{{linkToBookOnBookshop}}" linkToBookOnBarnesAndNoble="{{linkToBookOnBarnesAndNoble}}"/>
        </div>
</div>