<app-navbar></app-navbar>
<div style="max-width: 1200px; min-height: 1700px" class="container my-5 text-white">
    <h1 style="font-family: Inter-Bold;" class="display-1 my-5">Will I go to <span class="text-primary">University</span>?</h1>
    <h6>by Mikey Fennelly. February 4th, 2024</h6>
    <h4 class="my-5 lh-base opacity-75">The short answer to this question is, maybe.
<br>
<br>
        Of course my parents are keen for me to get a University qualification and I do understand the value of that (company hiring policies etc), but I'm also quite impatient about getting to work in the real world, on real projects and with experienced Engineers.
<br>
<br>
        Universities have their advantages (and are fun), but I'm not crazy about the idea of sitting in classrooms and lecture theatres for 4 or 5 years before I get stuck into real world work. I'm confident that I can learn a lot faster, especially if I'm in the right environment where what I'm doing really matters and I'm doing it with really good Engineers. I know that's a much better and faster way for me to learn!
<br>
<br>
        So then why do I say "maybe"?
<br>
<br>
        There is one University course in Ireland that I think would be well suited to me and what I want to do. That course is <a target="_blank" href="https://software-engineering.ie">Immersive Software Engineering at the University of Limerick</a>. While on this course, students get to spend a lot of time "immersed" in real work environments in really good companies and they start doing it in their 1st year. I really do like the sound of this course and if I could get into it next year I'd definitely do it.
        </h4>
</div>
<app-footer></app-footer>