<nav style="font: fieldwork-hum; font-weight: thin;" class="navbar navbar-expand-lg">
    <div style="background-color: #0F0F0F; border: 1px solid white; padding: 10px; padding-left: 40px;" class="container">
      <a class="navbar-brand" href="">
        <img style="max-height: 40px;" src="../../../assets/images/profilePhoto.png" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white mx-4" aria-current="page" href="#software-projects">
            Software Projects</a>
            <a class="nav-link active text-white mx-4" aria-current="page" href="#content-creation">
            Content Creation Projects</a>
          <a class="nav-link active text-white mx-4" aria-current="page" href="/about-me">About Me</a>
          <a class="nav-link active text-white mx-4" aria-current="page" href="/bookshelf">Bookshelf</a>
        </div>
      </div>
    </div>
  </nav>
