#navbarNavAltMarkup
    display: inline !important
    max-height: 100px
    max-width: fit-content
    min-width: fit-content

.nav-link
    display: inline !important
    max-width: fit-content

.navbar-nav
    flex-direction: row !important

.small-visible
    display: inline

.small-hidden
    @media screen and (max-width: 992px)
        display: none !important