<nav class="navbar navbar-expand-lg bg-body-primary">
    <div class="container">
      <a class="navbar-brand" href="">
        <img style="max-height: 40px;" src="../../../assets/images/profilePhoto.png" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white mx-4" aria-current="page" href="#software-projects">
            Software Projects</a>
            <a class="nav-link active text-white mx-4" aria-current="page" href="#content-creation" (click)="contentCreationScroll()">
            Content Creation Projects</a>
          <a class="nav-link active text-white mx-4" aria-current="page" href="/about-me">About Me</a>
        </div>
      </div>
    </div>
  </nav>
