<nav class="navbar navbar-expand-lg bg-body-primary">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="../../../assets/images/profilePhoto.png" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white mx-4" aria-current="page" href="#" (click)="projectsScroll()">
            Projects</a>
          <a class="nav-link active text-white mx-4" aria-current="page" href="#" (click)="projectsScroll()">Tools</a>
          <a class="nav-link active text-white mx-4" aria-current="page" href="blog">Blog</a>
        </div>
      </div>
    </div>
  </nav>
