<div class="row my-5">
    <div class="col">
        <h1 class="mt-5">statmann (coming soon)</h1>
        <h5 style="font-family: Inter-Light;" class="me-5 lh-base my-4">Statmann is an SaaS platform that allows basktetball fanatics to compare statistics of all kinds in intuitive graphical ways. The statistics are totally customizable, and range from box score to advanced statistics, historical data, NBA financial data and live data and scores.</h5>
        <h5>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Vue JS</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">GSAP</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Bootstrap</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Figma</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Python</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">NBA API</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Firebase</span>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white"  href="https://github.com/mikeyfennelly1/statmann">
                <img class="d-inline" src="../../../assets/images/githubLogo.png" alt="">
                <h5 class="d-inline text-decoration-none slideRight ms-3">Source Code</h5>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a href="https://mikeyfennelly1.github.io/statmann/">
            <!-- <img src="../../../assets/images/nbaStats.png" alt=""> -->
        </a>
    </div>
</div>