<div class="row my-5">
    <div style="max-width: 800px;" class="col">
        <a class="text-decoration-none text-primary" href="blog/machine-learning-demistified">
            <h1 style="font-family: Inter-Bold" class="mt-5 text-decoration-underline slideRight">Machine Learning Demistified</h1>
        </a>
        <h5 style="font-family: Inter-Light;" class="text-white lh-base mt-4">In this blog series, we'll demystify machine learning for curious developers. Imagine teaching a computer to learn and make decisions by itself. We'll explore easy examples, like teaching a computer to tell the difference between cats and dogs in pictures. No need for a computer science degree.</h5>
        <h6 class="text-white opacity-50 text-sm">Nov 26th, 2023</h6>
        <div class="my-5">
        </div>
    </div>

</div>