<div class="row my-5">
    <div class="col">
        <a class="text-decoration-none text-white" href="/blogs">
            <h1 style="font-family: Inter-Bold" class="mt-5 text-decoration-underline slideRight">Machine Learning Demistified</h1>
        </a>
        <h5 style="font-family: Inter-Light;" class=" lh-base my-4">In this blog series, we'll demystify machine learning for curious developers. Imagine teaching a computer to learn and make decisions by itself. We'll explore easy examples, like teaching a computer to tell the difference between cats and dogs in pictures. No need for a computer science degree.</h5>
        <div class="my-5">
        </div>
    </div>
    <div class="col my-5">
        <a href="">
            <img src="" alt="">
        </a>
    </div>
</div>