<div style="min-width: 100vw; overflow: hidden;">
    <img src="../../../../assets/images/gradientBackdrop2-03.png" alt="">
    <div style="min-width: 100vw; position: relative; z-index: 2;" class="">
        <app-navbar></app-navbar>
        <app-header></app-header>
        <app-hero></app-hero>
        <div style="padding-top: 100px; @media screen and (max-width: 2000px) {margin-right: 300px; margin-left: 300px;} margin-top: 150px; border-top: 1px solid #575757">
            <app-one></app-one>
        </div>
        <div style="padding-top: 100px;  @media screen and (max-width: 2000px) {margin-right: 300px; margin-left: 300px;} margin-top: 200px; border-top: 1px solid #575757">
            <app-youtube-page></app-youtube-page>
        </div>
        <app-footer></app-footer>
    </div>
</div>