<div style="padding-top: 200px;" class="row text-white">
    <div class="col">
        <img style="max-height: 800px;"  src="../../../../assets/images/bookshelf/elonMusk.jpg" alt="">
    </div>
    <div class="col ms-5 d-flex flex-wrap">
        <div>
            <h2 style="font-style: italic;">Elon Musk</h2>
            <h4 class="opacity-50">Walter Isaacson</h4>
            <p style="font-size: 1.1rem; font-family: fieldwork-hum; font-weight: 100;" class="mt-5">
                Love him or hate him, Elon Musk is one of the most interesting people of our time. I read this book at the same time I was reading Steve Jobs biography, and saw a lot of similarities in both men. They are both highly successful but also very cruel people in their own way. To be honest I wasn't very interested in Musk's personal life or his opinions, and rather focused on his corporate life and how he operated on a professional level.
                <br>
                <br>
                There are many anecdotes in this book that are representative of what made Musk such a success in many different fields. He is a man that has high agency in his own life, and takes huge risks. The high agency element of his character permeates Tesla, as Steve Jobs' passion for design imbues Apple to this day. While working on the starship in the Nevada desert for example, Tesla employees were breeding dragon flies in paddling pools to counteract the amount of mosquitoes that were in the desert. Another aspect of Musk's character that is similar to that of Jobs is his ability to ignore the notion of impossibility. Both men thought of what they wanted to be possible, and worried about engineering scruples after the fact, which proved to be huge for both.
            </p>
        </div>
        <div class="border align-self-end w-100">
            <app-buy-books linkToBookOnAmazon="{{linkToBookOnAmazon}}" linkToBookOnBookshop="{{linkToBookOnBookshop}}" linkToBookOnBarnesAndNoble="{{linkToBookOnBarnesAndNoble}}"/>
        </div>
    </div>
</div>