<div class="container bg-body-primary">
    <div class="row">
        <div class="text-white px-2 col mw-70 mt-5">
            <h4 class="me-5 lh-base">
                <span class="opacity-50">I'm a </span>passionate technologist <span class="opacity-50">with a keen interest in </span>Software Engineering<span class="opacity-50"> and </span>Artificial Intelligence<span class="opacity-50">. I also have a strong interest in </span>video creation<span class="opacity-50"> and</span> graphics.
                    <br>
                    <br>
                    <span class="opacity-50">When I'm not doing these things, I'm thinking about them!</span>
                <br>
                <br>
            </h4>
            <div>
                <div style="margin-top: 100px;" class="d-flex justify-content-between mb-5">
                    <a target="_blank" href="https://react.dev/">
                        <img class="h-75" src="../../../../../assets/images/logos/reactLogo.png" alt="">                    </a>
                    <a target="_blank" href="https://www.tensorflow.org/">
                        <img class="h-75" src="../../../../../assets/images/logos/tensorflowLogo.png" alt="">                    </a>
                    <a target="_blank" href="https://angular.io/">
                        <img class="h-75" src="../../../../../assets/images/logos/angularLogo.png" alt="">                    </a>
                    <a target="_blank" href="https://github.com/">
                        <img class="h-75" src="../../../../../assets/images/logos/gitLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://tailwindcss.com/">
                        <img class="h-75" src="../../../../../assets/images/logos/tailwindLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://gsap.com/">
                        <img style="mix-blend-mode: lighten;" class="h-75" src="../../../../../assets/images/logos/GSAPLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://www.docker.com/">
                        <img class="h-75" src="../../../../../assets/images/logos/dockerLogo.png" alt="">
                    </a>

                </div>
                <div style="margin-bottom: 150px;" class="d-flex justify-content-between">
                    <a target="_blank" href="https://www.adobe.com/ie/products/photoshop.html">
                        <img  class="h-75" src="../../../../../assets/images/logos/photoshopLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://www.adobe.com/ie/products/illustrator.html">
                        <img  class="h-75" src="../../../../../assets/images/logos/illustratorLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://www.adobe.com/ie/products/aftereffects.html">
                        <img class="h-75" src="../../../../../assets/images/logos/afterEffectsLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://www.adobe.com/ie/products/premiere.html">
                        <img class="h-75" src="../../../../../assets/images/logos/premiereLogo.png" alt="">
                    </a>
                    <a>
                        <img class="h-75" src="../../../../../assets/images/logos/xdLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://www.figma.com/">
                        <img  class="h-75" src="../../../../../assets/images/logos/figmaLogo.png" alt="">
                    </a>
                    <a target="_blank" href="https://firebase.google.com/">
                        <img class="h-75" src="../../../../../assets/images/logos/firebaseLogo.png" alt="">
                    </a>
                </div>
            </div>
            <h4>Scroll to view the <a href="#software-projects">Software</a> and <a href="#content-creation">Content Creation</a> projects I've been working on.</h4>
        </div>
    </div>
</div>
<!-- finish school, self taught, hoping to go UL, Very interested -->