<div style="font-family: fieldwork-hum; font-weight: 100;" class="container bg-body-primary">
    <div class="row">
        <div class="text-white px-2 col mw-70 mt-5">
            <h4 class="me-5 lh-base">
                I'm a passionate technologist with a keen interest in Software Engineering and Artificial Intelligence. I also have a strong interest in video creation and graphics.
                    <br>
                    <br>
                    <span class="">When I'm not doing these things, I'm thinking about them!</span>
                <br>
                <br>
            </h4>
            <div>
                <div style="margin-top: 100px; max-height: 80px;" class="d-flex justify-content-between mb-5">
                    <img class="container" src="../../../../../assets/images/logos/softwareLogosStrip.png" alt="">
                </div>
            </div>
            <h4 style="margin-top: 200px;">Scroll to view the <a href="#software-projects">Software</a> and <a href="#content-creation">Content Creation</a> projects I've been working on.</h4>
        </div>
    </div>
</div>