<div class="container bg-body-primary">
    <div class="row">
        <div class="text-white px-2 col mw-70 my-5">
            <h4 class="me-5 lh-base">
                <span class="opacity-50">I'm an </span>Apprentice/Trainee Software Engineer <span class="opacity-50">hoping to get a position in a company where I can learn and grow into a professional Software Engineer.</span>
                <br>
                <br>
                <span class="opacity-50">I finished Secondary School (High School) in the summer of 2023. I did well in the Irish State exams (the Leaving Certificate) but, unlike most of my classmates, decided that</span> I didn't want to go straight into 3rd Level education <span class="opacity-50">.</span> 
                <br>
                <br>
                Instead of spending 4 years in classrooms in university<span class="opacity-50"> (see "Will I go to University?" below). I'm hoping I can accelerate the timeline to becoming a Software Engineer by</span> getting hands-on experience<span class="opacity-50"> of building software across a broad range of Frontend and Backend technologies and hoping that there are companies out there that are willing to give someone like me an opportunity to work as an Apprentice/Trainee within one of their engineering teams.</span>
                <br>
                <br>
                <span class="opacity-50">Of course I'm very early on my journey to becoming a Software Engineer, but I do feel that the projects presented here show that</span> I'm a very fast and enthusiastic/passionate learner<span class="opacity-50"> and, with some help and guidance,</span> can provide a lot of value to an organization. <span class="opacity-50">Fundementally I am passionate about what makes products sell, and I hope that the projects below point to my focus not only on aesthetically pleasing websites but </span>web experiences that make products look fantastic.
                <br>
                <br>
                
                <span class="opacity-50">Please take a tour of some of the projects I’ve worked on and see the techniques and technologies I’ve been learning.</span>

            </h4>
        </div>
    </div>
</div>
<!-- finish school, self taught, hoping to go UL, Very interested -->