<div class="container text-white my-5">
    <div class="mt-5">
        <h1 id="content-creation" style="font-family: 'Inter-Bold'" class="display-4 mb-5">Content Creation Projects</h1>
        <h4><span class="opacity-50">The following are some of the content creation projects I've worked on. I think they show how I've developed a passion (and very solid skills) for story telling through the use of technology (mostly the </span><a class="opacity-50" style="text-decoration: underline;" target="_blank" href="https://www.adobe.com/ie/creativecloud.html?gclid=CjwKCAiAi6uvBhADEiwAWiyRdv0Yentz3x1_xFKvRMjmPPQabLSuC_yZtdc7bh7HyTYYhSotK_miiRoC-JAQAvD_BwE&mv=search&mv=search&mv2=paidsearch&sdid=DRCF129T&ef_id=CjwKCAiAi6uvBhADEiwAWiyRdv0Yentz3x1_xFKvRMjmPPQabLSuC_yZtdc7bh7HyTYYhSotK_miiRoC-JAQAvD_BwE:G:s&s_kwcid=AL!3085!3!274062463619!e!!g!!adobe%20suite!1423511180!56665091020&gad_source=1">Adobe Suite</a><span class="opacity-50">).</span></h4>
        <h4><a href="/blog/how-i-got-into-content-creation" >Click here</a> to see a blog about how I got into video editing and content creation.</h4>
    </div>
    <app-russian-spy></app-russian-spy>
    <app-brittney-griner></app-brittney-griner>
    <app-gavin-grant></app-gavin-grant>
    <app-liverpool></app-liverpool>
</div>