<div class="container text-white my-5">
    <div class="mt-5">
        <h1 style="font-family: 'Inter-Bold'" class="display-4 mb-5">Video Work</h1>
        <h4 class="me-5 lh-base">
            <span class="opacity-50">In the summer of 2022 I began a YouTube channel called 'Sport Cartel', with the hopes of getting a hands on experience of</span> content creation <span class="opacity-50">and</span> building a brand. <span class="opacity-50">Making a YouTube channel was the perfect exercise in learning all of these skills, as it taught me not only the Adobe Suite, but through the</span> invaluable mistakes I made <span class="opacity-50">has helped me learn a lot about </span>converting viewer<span class="opacity-50">,</span> viewer retention <span class="opacity-50">and what it takes to </span>scale a brand on the front-end. My most valuable lesson<span class="opacity-50"> from making this channel was </span>the value of a team in taking on a big project.
        </h4>
    </div>
    <app-russian-spy></app-russian-spy>
    <app-brittney-griner></app-brittney-griner>
    <app-gavin-grant></app-gavin-grant>
    <app-liverpool></app-liverpool>
</div>