<div style="font-family: 'ivymode'; padding-top: 200px;" class="row text-white">
    <div class="col pe-5">
        <img style="max-height: 800px;"  src="../../../../assets/images/bookshelf/boronLetters.jpg" alt="">
    </div>
    <div class="col ms-5 d-flex flex-wrap">
        <div>
            <h2 style="font-family: 'ivymode'; font-style: italic;">The Boron Letters</h2>
            <h4 class="opacity-50">Gary C. Halbert</h4>
            <p style="font-size: 1.1rem; font-family: fieldwork-hum; font-weight: 100;" class="mt-5">
                This book - if I remember correctly - is about a famous copywriter that somehow ended up in prison. He thought that the best thing he could do for his son was to pass down to him his knowledge of writing for advertisement. Through a series of letters (now known as The Boron Letters), he teaches his son how to write, and think like a marketing expert. It is specific, brief and actionable training for how to write brilliant copy. This is a very short book that I definitely recommend.
            </p>
        </div>
        <div class="border align-self-end w-100">
            <app-buy-books linkToBookOnAmazon="{{linkToBookOnAmazon}}" linkToBookOnBookshop="{{linkToBookOnBookshop}}" linkToBookOnBarnesAndNoble="{{linkToBookOnBarnesAndNoble}}"/>
        </div>
    </div>
</div>
