<div style="width: 200px;" class="position-fixed top-0 start-0 h-100 text-white d-flex align-items-center">
    <div>
        <a  style="text-decoration: none;" href="/bookshelf/#steve-jobs">
            <p class="m-0">Steve Jobs</p>
        </a>
        <a  style="text-decoration: none;" href="/bookshelf/#oglivy-on-advertising">
            <p class="m-0">Ogilvy On Advertising</p>
        </a>
        <a  style="text-decoration: none;" href="/bookshelf/#atomic-habits">
            <p class="m-0">The Power of Habit</p>
        </a>
        <a  style="text-decoration: none;" href="/bookshelf/#elon-musk">
            <p class="m-0">Elon Musk</p>
        </a>
        <a  style="text-decoration: none;" href="/bookshelf/#the-boron-letters">
            <p class="m-0">The Boron Letters</p>
        </a>
        <a  style="text-decoration: none;" href="/bookshelf/#beyond-good-and-evil">
            <p class="m-0">Beyond Good and Evil</p>
        </a>
        <a  style="text-decoration: none;" href="/bookshelf/#thinking-fast-and-slow">
            <p class="m-0">Thinking Fast and Slow</p>
        </a>
    </div>
</div>