<div class="row my-5">
    <div class="col">
        <h1 style="font-family: 'fieldwork'" class="mt-5">Brain Tumor Classifier</h1>
        <h5 style="font-family: fieldwork" class="me-5 lh-base my-4">This project is an image classifier that uses a convolutional neural network to classify brain scans, predicting if patients have brain tumors.</h5>
        <h5>
            <span style="font-family: fieldwork" class="opacity-50 lh-lg me-5">Tensorflow</span>
            <span style="font-family: fieldwork" class="opacity-50 lh-lg me-5">Keras</span>
            <span style="font-family: fieldwork" class="opacity-50 lh-lg me-5">OpenCV</span>
            <span style="font-family: fieldwork" class="opacity-50 lh-lg me-5">Matplotlib</span>
            <span style="font-family: fieldwork" class="opacity-50 lh-lg me-5">Pandas</span>
        </h5>
        <div class="my-5">
            <a target="_blank" class="text-decoration-none text-white" href="https://github.com/mikeyfennelly1/brainTumorClassifier">
                <img [ngStyle]="{height:'30px'}" class="d-inline" src="../../../../../../assets/images/OOjs_UI_icon_external-link-ltr-invert.svg.png" alt="">
                <h5 class="d-inline text-decoration-none slideRight ms-3">Source Code</h5>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a target="_blank" href="https://github.com/mikeyfennelly1/brainTumorClassifier">
            <img style="max-width: 620px;" src="../../../../../../assets/images/brainScanThumbnail.png" alt="">
        </a>
    </div>
</div>