$black: #000000
$primary: #00FF00
$secondary: #00FF00
@import "../node_modules/bootstrap/scss/bootstrap"


@font-face 
    font-family: "Inter"
    font-display: block
    src: url(assets/fonts/Inter-Regular.ttf)
@font-face 
    font-family: "Inter-Bold"
    font-display: block
    src: url(assets/fonts/Inter-Bold.ttf)
@font-face 
    font-family: "Inter-Light"
    font-display: block
    src: url(assets/fonts/Inter-Light.ttf)

body
    font-family: 'Inter', sans-serif !important
    font-display: block
    line-height: 200%, !important
    background-color: black
    overflow-x: hidden

.slideRight:hover 
    color: #00FF00

.linkToVideo:hover 
    color: #00FF00