$black: #000000
$primary: #00FF00
$secondary: #00FF00
@import "../node_modules/bootstrap/scss/bootstrap"


@font-face 
    font-family: "Inter"
    src: url(../public/fonts/Inter-VariableFont_slnt,wght.ttf)
@font-face 
    font-family: "Inter-Bold"
    src: url(../public/fonts/Inter-Bold.ttf)

body
    font-family: 'Inter', sans-serif !important
    line-height: 200%, !important
    background-color: black