$black: #000000
$primary: #FFFFFF
$secondary: #FFFFFF
@import "../node_modules/bootstrap/scss/bootstrap"

body
    font-family: fieldwork, sans-serif !important
    font-display: block
    line-height: 200%, !important
    background-color: #0F0F0F
    overflow-x: hidden

h4
    font-weight: 200
