<div class="container text-white my-5">
    <div class="mt-5">
        <h1 id="software-projects" style="font-family: 'Inter-Bold'" class="display-4">Software Projects</h1>
        <h4 class="mb-4 opacity-50">The following are some of the software projects that I have been working on. Hopefully they demonstrate that not only have I developed solid technical skills, but that I also have a strong product mindset and attention to detail.
        </h4>
        <h4 class="opacity-50">
            Click on the links to see the source code or the live sites.
        </h4>
    </div>
    <app-charlemagne-db></app-charlemagne-db>
    <app-points-lab></app-points-lab>
    <app-myportfolio></app-myportfolio>
</div>