<div class="row my-5">
    <div class="col">
        <h1 class="mt-5">The Russian Spy who bought European Basketball...</h1>
        <h5 style="font-family: Inter-Light;" class="me-5 lh-base my-4">This short story is about a man called Shabtai Kalmanovic, a Russian Oligarch who was also a European basketball patron. He reportedly had a very tumultuous life which lead to his untimely and gruesome death in November of 2009.</h5>
        <h5>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe Premiere Pro</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Adobe After Effects</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5"> Photoshop</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Mapbox</span>
            <span style="font-family: Inter-Light" class="opacity-50 lh-lg me-5">Geolayers 3</span>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white" target="_blank" href="https://www.youtube.com/watch?v=qUUy8aQQ4U4&t=312s">
                <img [ngStyle]="{height:'30px'}" class="d-inline mh-25 " src="../../../assets/images/youtubeLogo 1 (3).png" alt="">
                <h5  class="d-inline text-decoration-none linkToVideo ms-4">Link to video</h5>
                <br>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a target="_blank" href="https://www.youtube.com/watch?v=qUUy8aQQ4U4&t=312s">
            <img src="../../../assets/images/russianSpy 1.jpg" alt="">
        </a>
    </div>
</div>