<div class="row my-5">
    <div class="col">
        <h1 class="mt-5">The Russian Spy who bought European Basketball...</h1>
        <h5 style="font-weight: 100;" class="me-5 lh-base my-4">This short story is about a man called Shabtai Kalmanovic, a Russian Oligarch who was also a European basketball patron. He reportedly had a very tumultuous life which lead to his untimely and gruesome death in November of 2009.</h5>
        <h5>
            <a href="https://www.adobe.com/products/premiere.html" target="_blank" style="text-decoration: none;" class="opacity-50 lh-lg me-5">Adobe Premiere Pro</a>
            <a href="https://www.adobe.com/ie/products/aftereffects.html" target="_blank" style="text-decoration: none;" class="opacity-50 lh-lg me-5">Adobe After Effects</a>
            <a href="https://www.adobe.com/ie/products/photoshop.html" target="_blank" style="text-decoration: none;" class="opacity-50 lh-lg me-5"> Photoshop</a>
            <a href="https://www.mapbox.com/" target="_blank" style="text-decoration: none;" class="opacity-50 lh-lg me-5">Mapbox</a>
            <a href="https://aescripts.com/geolayers/?gad_source=1&gclid=Cj0KCQjw2a6wBhCVARIsABPeH1sWwDSR6cGK5PpwB5uEcoVyZwTU_XK4yVHQpbubeAE8ODnuC59IoywaAmiMEALw_wcB" target="_blank" style="text-decoration: none;" class="opacity-50 lh-lg me-5">Geolayers 3</a>
        </h5>
        <div class="my-5">
            <a class="text-decoration-none text-white" target="_blank" href="https://www.youtube.com/watch?v=qUUy8aQQ4U4&t">
                <img [ngStyle]="{height:'30px'}" class="d-inline mh-25 " src="../../../assets/images/youtubeLogo 1 (3).png" alt="">
                <h5 style="font-weight: 100;" class="d-inline text-decoration-none linkToVideo ms-4">Link to video</h5>
                <br>
            </a>
        </div>
    </div>
    <div class="col my-5">
        <a target="_blank" href="https://www.youtube.com/watch?v=qUUy8aQQ4U4&t">
            <img src="../../../assets/images/russianSpy 1.jpg" alt="">
        </a>
    </div>
</div>