<div style="font-family: 'ivymode'; padding-top: 300px;" class="bg-black row text-white">
    <div class="col pe-5">
        <img style="max-height: 800px;"  src="../../../../assets/images/bookshelf/ogilvyOnAdvertising.jpg" alt="">
    </div>
    <div class="col ms-5">
        <h2 style="font-family: 'ivymode';">Ogilvy On Advertising</h2>
        <h4 class="opacity-50">David Ogilvy</h4>
        <p style="font-size: 1.1rem;" class="mt-5 opacity-50">
            During the COVID lockdowns I got heavily interested in ecommerce and advertising on the internet. In doing so I researched and consumed any information I could get my hands on that could ultimately make me more sales. This lead me to reading books about consumer psychology, marketing and copywriting. Ogilvy on advertising was one of my two favorites of the books that I read during this period.
            <br>
            <br>
            In this book David Ogilvy - known as 'The Father of Advertising' - speaks about all things advertising in the twentieth century. Mostly he speaks about advertising in newspapers during the 1950s and 1960s, but information is the information in this book is both timeless and priceless. He details methods of gaining and maintaining a potential customers interest in an advertisement and the common pitfalls of inexperience in marketing. Ogilvy is thoroughly practical and dismisses the common thought process of supposed 'good advertising' and committed his philosophy to what measurably worked.
            <br>
            <br>
            This was a very interesting book and would recommend it to anyone.
        </p>
        <app-buy-books linkToBookOnAmazon="{{linkToBookOnAmazon}}" linkToBookOnBookshop="{{linkToBookOnBookshop}}" linkToBookOnBarnesAndNoble="{{linkToBookOnBarnesAndNoble}}"/>
</div>