<div style="font-family: Inter; padding-top: 300px;" class="bg-black row text-white">
    <div class="col pe-5">
        <img style="max-height: 800px;"  src="../../../../assets/images/bookshelf/ogilvyOnAdvertising.jpg" alt="">
    </div>
    <div class="col ms-5">
        <h2 style="font-family: Inter-Bold;">Ogilvy On Advertising</h2>
        <h4 class="opacity-50">David Ogilvy</h4>
        <p style="font-size: 1.1rem;" class="mt-5 opacity-50">Iusto modi, sapiente provident nesciunt laboriosam cumque beatae rerum vitae vel voluptatibus explicabo. Quibusdam enim et placeat repellat tenetur autem odit mollitia similique porro excepturi, accusantium ad ex eum quasi!
        Veritatis obcaecati praesentium doloremque ducimus omnis aut ea in enim magni, unde eos ad a iusto, voluptatum tempore temporibus ratione deserunt? Aspernatur sit omnis facere dolor assumenda, repellat ut eos.
        Magni, quas rem atque eveniet eum voluptatem, recusandae eius blanditiis aliquid obcaecati possimus sapiente aspernatur assumenda rerum natus, accusantium esse molestiae aut ad cum ratione ipsam sit laudantium. Temporibus, eos!
        Beatae excepturi laborum repudiandae ad quisquam cupiditate optio quod reprehenderit totam sint possimus tempore ex doloribus eum at reiciendis, illum adipisci, quia iste asperiores tempora suscipit saepe minus. Eveniet, totam.
        Modi perferendis, cum natus minus laborum sapiente sint voluptatum facere officiis libero quos praesentium assumenda hic laudantium necessitatibus cumque dignissimos aliquid consequuntur, exercitationem accusamus? Totam, sunt quidem. Dolorum, dolore consequatur?
        Corrupti sunt earum illo reiciendis laudantium nemo incidunt ipsa dolore sit saepe neque porro dignissimos delectus natus, eaque praesentium? Soluta, sed officiis nisi quis pariatur labore eos adipisci maxime libero.</p>
        <div>
            <a style="text-decoration: none; color: white;" target="_blank" href="">
                <div>Purchase on Amazon</div>
            </a>
            <a style="text-decoration: none; color: white;" target="_blank" href="">
                <div>Purchase on Bookshop</div>
            </a>
            <a style="text-decoration: none; color: white;" target="_blank" href="">
                <div>Purchase on Barnes and Noble</div>
            </a>
        </div>
    </div>
</div>